.hero {
    background-color: #007277;
    margin-top: -1px;

    h1 {

        font-family: "Playfair Display", sans-serif;
        font-size: 4.2rem;
        color: white;
        margin-top: 60px;
        margin-bottom: 20px;


        @media (max-width: 1024px) {
            font-size: 8vmin;
            margin-top: 18px;
            text-align: center;
        }
    }

    @media (max-width: 1024px) {
        height: auto
    }

    p {
        font-size: 1.4rem;
        font-weight: lighter;
        color: white;
        margin: 30px 0 0;
        display: block;

        @media (max-width: 1024px) {
            font-size: 1.2rem;
            margin: 15px 0;
        }
    }
}

.kika {
    filter: drop-shadow(6px 8px 11px #2A9);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
}